<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Mojo Package Index</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right">
            <li>
                <div class="row">
                    <!-- 使用 col s6 來指定搜尋欄佔據 6 個網格列，即佔畫面一半寬度 -->
                    <div class="col s6 m6">
                      <form action="/search" class="search-form" method="GET">
                        <div class="input-field">
                          <input class="center-align" id="search" type="text" name="q" placeholder="search..." />
                          <i id="search-icon" class="material-icons prefix">search</i>
                        </div>
                      </form>
                    </div>
                </div>
            </li>
            {% if admin_mode %}
            <li><a href="/admin/">Admin</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li>
                <a class="dropdown-trigger" href="#" data-target="user-dropdown">
                    {% if current_user.is_authenticated and current_user.picture %}
                    <li><img src="{{ url_for('fbp.get_profile_pic') }}" alt="User Avatar" class="circle avatar-img-small" /></li>
                    {% else %}
                    <li><img src='{{ url_for("static", filename="Sample_User_Icon.png") }}' alt="User Avatar" class="circle avatar-img-small" /></li>
                    {% endif %}
                </a>
            </li>
            <ul id="user-dropdown" class="dropdown-content">
                <!-- 下拉菜单选项 -->
                <li><a href="/profile">Profile</a></li>
                <li><a href="/settings">Settings</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            {% else %}
            <li><a class="waves-effect waves-light btn" href="/login">Login<i class="material-icons right">person</i></a></li>
            {% endif %}
            
            
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
<li><a href="sass.html">Sass</a></li>
<li><a href="badges.html">Components</a></li>
<li><a href="collapsible.html">Javascript</a></li>
<li><a href="mobile.html">Mobile</a></li>
</ul>



<!-- 引入Materialize JavaScript檔案 -->

<script>
document.addEventListener('DOMContentLoaded', function() {
    //sidenav
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);

    //dropdown trigger
    var dropdowns = document.querySelectorAll('.dropdown-trigger');
    var dropdownOptions = {
        // constrainWidth: false, // 不限制下拉菜单的宽度
        coverTrigger: false
        // 可选：设置其他选项
    };
    M.Dropdown.init(dropdowns, dropdownOptions);
});
</script>