<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Include Materialize CSS stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

  <!-- Optional: If you need to use Material Icons font, include the following line -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Project</title>
</head>

<body>
  {% include 'navbar.html' %}
  <div class="container">
    <div class="row">
      <!-- Left Column: Sidebar -->
      {% include 'project_meta.html' %}

      <!-- Right Column: Main Content -->
      <div class="col s12 m8">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Download files</span>
            <hr />
            <p>
              <h3>Source Distribution</h3>
            </p>
            <p>
              <h3>Built Distribution</h3><br>
              {% for ring in rings %}
              <p>
                <h5>
                {% if ring.platform %}
                <a href="/files/ring/{{ ring.name }}/{{ ring.version }}/{{ ring.platform }}">{{ ring.file_name }}</a>
                {% else %}
                <a href="/files/ring/{{ ring.name }}/{{ ring.version }}">{{ ring.file_name }}</a>
                {% endif %}
                </h5>

                size: {{ ring.size }}<br>
                sha256: {{ ring.sha256 }}
              </p>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Include Materialize JavaScript files -->
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
</body>

</html>
